<h1>Speed Mathematics</h1>

<%= form_tag(next_question_path, method: "get", id: 'chapter-form') do %>

  <p><label class="custom-select">
 	<%= select_tag(:chapter, options_for_select(chapters)) %>
 </label></p>

<% end %>

<div id="content">
	<% if @question %>
		<span id="question"><%= @question %></span>
	<% end %>
</div>

<div id="explanation">
  Select a chapter from <%= link_to 'the book', 'http://www.amazon.co.uk/Speed-Mathematics-Secret-Skills-Calculation/dp/0471467316' %> that you want to practise and click the button to reveal the answer. Click again to generate a new question.
</div>

<%= render 'footer' %>